.infoBox{
    background-color: #eeeae1;
    margin: 30px;
    padding-top: 30px !important;
    padding: 50px;
    height: auto;
}

.contentDiv {
    display: flex;
    align-items: center;
    justify-content: center
}


.headline {
    color: #171515;
    
}

.aboutMePhoto {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.overallText {
    margin: 25px;
    text-align: center;
    

}

.backgroundPhoto {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.swimmingPhoto {
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.bottembar {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
}