
.contentDiv {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    width: auto;
    background-color: white;
    margin-bottom: 100px;
    box-shadow: 0px 3px 0px 0px #DDDDDD;
    border-radius: 5px;
}



.underHeadline {
    color: #2b3242;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    font-size: large;
    font-size: 1.75rem;
    font-weight: 500;
    text-decoration: underline;

}

.separator{
    display: flex;
    align-items: center !important;
    
  }
  
  .separator h1{
    padding: 0 1rem; /* creates the space */
  }
  
  .separator .line1{
    flex: 1;
    height: 1px;
    background-color: #000;
  }

  .separator .line2{
    flex: 10;
    height: 1px;
    background-color: #000;
  }


.text {
    margin: 25px;
    font-size: 16px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    font-size: 14px;
    font-weight: 500;
    max-width: 400px;

}



/* For wide computer screen*/
@media only screen and (min-width: 770px) {

.horizontalPhoto {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.verticalPhoto {
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
}
}

@media only screen and (max-width: 991px) {

.contentDiv:nth-child(even) {
  flex-direction: column-reverse;
}

}

/* For mobile screen*/
@media only screen and (max-width: 770px) {

    .horizontalPhoto {
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
    
    .verticalPhoto {
        height: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    
    }

