
.contentDiv {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    width: auto;
}

.underHeadline {
    color: #2b3242;
    font-family: 'Noto Sans Mono', monospace;
    font-size: large;
    text-decoration: underline;
}

.separator{
    display: flex;
    align-items: center !important;
  }
  
  .separator h1{
    padding: 0 1rem; /* creates the space */
  }
  
  .separator .line1{
    flex: 1;
    height: 1px;
    background-color: #000;
  }

  .separator .line2{
    flex: 10;
    height: 1px;
    background-color: #000;
  }


.text {
    margin: 25px;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 14px;
    max-width: 400px;

}

.bottembar {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
}


/* For wide computer screen*/
@media only screen and (min-width: 770px) {

.horizontalPhoto {
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.verticalPhoto {
    height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
}
}


/* For mobile screen*/
@media only screen and (max-width: 770px) {

    .horizontalPhoto {
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
    
    .verticalPhoto {
        height: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    }

