#root {
height: auto;
}

.headlineE {
    margin-bottom: 40px;
    color: #171515;
    font-family: 'Noto Sans Mono', monospace;
}

.timeLine {
    width: 500px;
    height: 950px;
}

.chrono {
    height: 500px;
    width: 500px;
}




