@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap');

a.navbar-brand {
  white-space: normal;
  color:beige !important;
  font-family: 'Noto Sans Mono', monospace;
}


.navbar-expand-sm {
  height: 100px;
  margin: 0px;
}

.d-sm-inline-flex {
position: absolute;
right: 10px;
}

.mb-3 {
  margin: 0px;
}
.nav-container.container{
  margin: 0px !important;
}



.navbar-nav {
  float: right;
  text-align: left;

}

.nav-text {
  color:beige!important;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 30px;
  
}

