.social-container {
    padding: 25px 50px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  .linkedinSocial {
    color: #eeeae1;
    margin: 0 1rem;

  }
  
  .facebookSocial {
    color: #eeeae1;
    margin: 0 1rem;    
  }
  
  .githubSocial {
    color: #eeeae1;
    margin: 0 1rem;

  }

  .mailSocial {
    color: #eeeae1;
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  .mailSocial:hover {
    transform: translateY(-2px);
  }
  
  