.social-container {
    padding: 25px 50px;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  .linkedinSocial:hover {
    color: #000000 !important;
  }

  .facebookSocial:hover {
    color: #000000 !important;

  }

  .githubSocial:hover {
    color: #000000 !important;

  }

  .linkedinSocial {
    color: #eeeae1;
    margin: 0 1rem;

  }
  
  .facebookSocial {
    color: #eeeae1;
    margin: 0 1rem;    
  }
  
  .githubSocial {
    color: #eeeae1;
    margin: 0 1rem;

  }

  .mailSocialBottom {
    color: #eeeae1;
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  .mailSocialBottom:hover {
    color: #000000 !important;

  }
  
  